.date-picker > .text-field {
    -fx-background-color: #f3f3f3;
    -fx-background-radius: 8;
    -fx-text-fill: #6B6B6B;
    -fx-background-insets: 1 0 1 1;
    -fx-background-radius: 2 0 0 2;
}

.date-picker:focused > .text-field,
.date-picker > .text-field:focused {
    -fx-background-color: #f3f3f3;
    -fx-background-radius: 8;
    -fx-text-fill: #6B6B6B;
    -fx-background-insets: 1 0 1 1, 1 0 1 1, 3 2 3 3;
    -fx-background-radius: 2 0 0 2, 1 0 0 1, 0;
}