.table-view{
  -fx-text-fill: #2f2e41;
  -fx-font: 16px "Microsoft Jheng Hei";
}

.table-cell:even {
    -fx-background-color:  #ff6f6122;
}
.table-cell:odd {
    -fx-background-color:  #fff;
}

.table-cell{
  -fx-text-fill: #2f2e41;
  -fx-font: 16px "Microsoft Jheng Hei";
}

.table-view, .split-pane {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table-view .column-header-background{
    -fx-background-color: #fff;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-text-alignment: CENTER-LEFT;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  #ff6f6155;
}

.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  #ff6f6155;
}

.table-view .filler{
    -fx-background-color: transparent;
}
